@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// ============= COLORS ==============

// primary

$pr-light-cyan : hsl(193, 38%, 86%);
$pr-neon-green : hsl(150, 100%, 66%);
$pr-neon-green-hover : hsl(150, 100%, 73%);
// Neutral

$nt-grayish-blue : hsl(217, 19%, 38%);
$nt-dark-grayish-blue : hsl(217, 19%, 24%);
$nt-dark-blue : hsl(218, 23%, 16%);
$nt-dark-blue-shadow: hsl(222, 23%, 15%);

// ============= fonts ==============

$pr-font : 'Manrope', sans-serif;